.level1{border:1px dashed #b3b3b3; background-color: #d6d6d6;padding:10px}
.level2{border:1px solid #f5f4f4; background-color: #dedede;display:flex} 
.level2 .sub-level{flex:1;padding:10px} 
input[type='button']{margin:10px 0;background: #00ceff;border: 1px solid transparent;padding: 10px}
input[type='text']{display:flex;width:100%;border-radius: 4px;border: 1px solid transparent;padding: 10px 0;color: #6b6b6b}
.floatRight{float:right}
 